body {
	background: radial-gradient(circle, #69d5e0, #59cee7, #50c5ed, #53bcf1, #5fb2f2, #61a6ed, #659ae7, #6c8edf, #647fd4, #5c71c8, #5662bc, #5054b0);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;


}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
      text-decoration:none;
   }
