body {
	background: linear-gradient(152deg, rgba(85,83,85,0.5) 7%, rgba(213,39,62,0.5) 50%, rgba(85,83,85,0.5) 85%),url('../img/mud_bg.jpg');
  background-size: 115%;
	background-attachment: fixed;
	animation: gradient 20s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
      text-decoration:none;
   }
