body {
	background: linear-gradient(128deg, rgba(182,218,62,1) 0%, rgba(160,160,160,1) 66%, rgba(202,202,202,1) 100%);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;


}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
      text-decoration:none;
   }
