body {
	background: linear-gradient(-150deg, #bc4e9c, #f80759, #FC5C7D, #6A82FB);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
