body {
	background: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
