body {
	background: linear-gradient(-69deg, #DE6262, #FFB88C, #d53369);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
