body {
	background: linear-gradient(0deg, rgba(34,193,195,0.3) 0%, rgba(167,45,253,0.3) 100%),url('../img/oversky3.jpg');
	background-size: 110% ;
	animation: gradient 20s ease infinite;
	background-attachment: fixed;


}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
      text-decoration:none;
   }
