html {
overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0px;  /* Remove scrollbar space */
background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
background: #FF0000;
}
.card-horizontal {display: flex;flex: 1 1 auto;}
</style>
<style>
.snowflake {
color: #fff;
font-size: 3em;
font-family: Arial, sans-serif;
text-shadow: 0 0 5px #000;
}
